.sect1 {
    display: flex;
    margin: var(--spaceUp);
    display: flex;
    flex-direction: row;
    height: 45vh;
    gap: 3vh;
    justify-content: space-between;
}

.sect1-left {
    display: flex;
    flex-direction: column;
    background: var(--gradient);
    align-items: center;
    border-radius: var(--radius);
    padding: 0 3vh;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 40px;
}

.sect1-left h1 {
    font-size: 2.5rem;
}

.sect1-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('../photo/web-dev.png');
    background-size: cover;
    background-position: center;
    border-radius: var(--radius);
    width: 100%;
    padding: 0 3vh 3vh 3vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.4s ease-in-out;
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrows * {
    height: 65px;
    width: 30px;
    font-size: 20px;
    background-color: rgba(139, 118, 167, 0.4);
    border-radius: var(--radius);
    border: none;
}

.arrows *:hover {
    background-color: rgba(139, 118, 167, 0.8);
    transition: 0.3s;
}

.course-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.course-btns * {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: var(--radius);
    background-color: #73628A;
    font-family: 'Saira';
    color: #DCEDFF;
    border: none;
}

.course-btns *:hover {
    cursor: pointer;
}

.course-btns *:focus {
    background-color: #8b76a7;
    transition: 1s;
}

.partners {
    margin: var(--spaceUp);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--gradient);
    padding: 2vh 0;
}

.logo, .logo1 {
    background-color: #8b76a7;
    padding: 10px;
    border-radius: var(--radius);
}

.logo *, .logo1 *{
    height: 75px;
    width: 75px;
    object-fit: contain;
}

.logo:hover, .logo1:hover {
    background-color: #937eaf;
    transform: translateY(-4%);
    transition: 0.1s ease-in-out;
    filter: drop-shadow(1);
}

.whyus {
    display: flex;
    flex-direction: row;
    margin: var(--spaceUp);
}

.why-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.whyus h2 {
    margin: 1vh 0;
}
.why-right p {
    transition: opacity 0.2s ease-in-out;
    min-height: 100px;
}

.why-left button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #73628A;
    height: auto;
    width: 30vh;
    border-radius: var(--radius);
}

.why-left button.active {
    background-color: #8b76a7;
    transform: scale(0.98);
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid #DCEDFF;
    transition: all 0.2s ease;
}

.why-right {
    flex: 2;
    background: var(--gradient);
    border-radius: var(--radius);
    padding: 20px;
}

@media (max-width: 768px) {

    .sect1-left h1 {
        font-size: 1.6rem;
    }

    .sect1-left {
        padding: 1vh 2vh;
    }

    .sect1-right {
        height: 40vh;
    }

    .sect1, .whyus{
        flex-direction: column;
        height: auto;
    }

    .whyus {
        gap: 3vh;
    }

    .partners {
        flex-wrap: wrap;
        padding: 2vh 2vh;
        gap: 15px;
    }

    .arrows * {
        height: 45px;
        width: 25px;
        font-size: 16px;
    }

    .course-btns * {
        padding: 5px 10px;
    }

    .logo1 {
        display: none;
    }
}